.monitor {
	display: flex;
	background: black;
	height: 100%;

	article {
		flex-grow: 1;
	}
	aside {
		background: lightgray;
		padding: 5px;
	}

	.config {
		float: right;
	}

	.execution {
		margin-bottom: 10px;
		.failed {
			background: darkred;
			color: white;
			padding: 5px 0;
		}
		.succeeded {
			background: darkgreen;
			color: white;
			padding: 5px 0;
		}
		.props {
			display: flex;
			& > * {
				margin-right: 10px;
			}
		}
		pre {
			background: black;
			color: white;
			margin: 0;
			padding: 10px 0;
		}
	}

	.selected, .selectable:hover {
		background: black;
		color: white;
	}
	.selected, .selectable {
		cursor: pointer;
	}
}