.monitor {
	display: flex;
	article {
		flex-grow: 1;
	}
	aside {
		height: 100%;
	}
	ul {
		margin: 0;
	}
	.execution {
		.failed {
			background: darkred;
			color: white;
			padding: 5px 0;
		}
		.succeeded {
			background: darkgreen;
			color: white;
			padding: 5px 0;
		}
		.props {
			display: flex;
			& > * {
				margin-right: 10px;
			}
		}
		pre {
			background: black;
			color: white;
			margin: 0;
			padding: 10px 0;
		}
	}
	aside {
		background: lightgray;
		padding: 5px;
	}
}